body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  /* defaultでついている余白を消す、これ大事。 */
  padding: 0;
  margin: 0;
}

#board {
  background-image: url(./img/background.png);
  background-color: lightgray;
  background-size: auto;
  border-bottom: 1px solid black;
}
